// Body
$body-bg: #e8e5eb;

// Typography
$font-family-sans-serif: 'Patrick Hand', cursive;
$parrafos-font-family: 'Didact Gothic', sans-serif;
$font-size-base: 1.30rem;
$line-height-base: 1;

// Colors
$blue: #9561e2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #dc355f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #43aebe;
$teal: #4dc0b5;
$cyan: #6cb2eb;
